<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A24 | Airdrops</title>
    <link rel="stylesheet" href="/css/airdrops.css">
</head>
<body>
    <div id="main">
        <%- include('nav',{user}) %>
        <div id="Hot-Container">
            <h1>This is Hot Airdrops section</h1>
            <div class="cards">
                <div class="card">
                    <h2> project name</h2>
                    <p>
                        project discription for how to join the airdrop.
                    </p>
                </div>

            </div>

        </div>
        <div id="Recent-Container">
            <h1>
                This is Recent Airdrops section 
            </h1>

        </div>
        <div id="Airdrops">
            <h1>
                This is All airdrops section
            </h1>

        </div>
    </div>

    <script src="/js/airdrops.js"></script>
</body>
</html>