<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <style>
        footer{
            height: 100px;
            width: 100%;
            background-color: rgb(77, 73, 73);
            /* display: flex;
            align-items: center;
            justify-content: center; */
            /* flex-direction: column; */
        }
        h1{
            text-align: center;
        }
        i{
            font-size: 30px;
        }
        a{
            text-decoration: none;
            color: white ;
            
            
        }
        .container{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
        }
        .tg{
            color: rgba(5, 5, 250, 0.664);
            background-color: white;
            border-radius: 50%;
        }
        .yt{
            color: red;
            background-color: white;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <footer>
        <h1>Welcome to A24</h1>
        <div class="container">
            <a href="https://t.me/A24_Army" class="tg" target="_blank"><i class="ri-telegram-fill" ></i></a>
            <a href="https://t.me/A24_Army" class="yt" target="_blank"><i class="ri-youtube-fill" ></i></a>
        </footer>

        </div>
</body>
</html>