<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A24 | Home </title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="shortcut icon" href="/images/A24.png" type="image/x-icon">
    <style>

    </style>

</head>

<body style="background-color: black; color: white;">
    <div id="main">
        <%- include('nav',{user}) %>
            <!-- <h1>Home</h1>
        <p><%= user %></p>  -->
            <div id="popup" class="popup">
                <p>login sucssec</p>
            </div>
            <div id="container">
                <div id="propuler">
                    <h1>
                        Propuler Airdrops
                    </h1>
                    <div class="cards">
                        <div class="card">
                            <div class="imageContainer">
                                <img src="/images/notcoin.jpg" alt="project image">
                            </div>
                            <div class="cardData">
                                <div class="title">
                                    <h1>This is a new project</h1>
                                </div>
                                <div class="discription">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam laboriosam sed
                                        magni ut reprehenderit, qui tenetur commodi vero itaque. Minus.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imageContainer">
                                <img src="/images/notcoin.jpg" alt="project image">
                            </div>
                            <div class="cardData">
                                <div class="title">
                                    <h1>This is a new project</h1>
                                </div>
                                <div class="discription">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam laboriosam sed
                                        magni ut reprehenderit, qui tenetur commodi vero itaque. Minus.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imageContainer">
                                <img src="/images/notcoin.jpg" alt="project image">
                            </div>
                            <div class="cardData">
                                <div class="title">
                                    <h1>This is a new project</h1>
                                </div>
                                <div class="discription">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam laboriosam sed
                                        magni ut reprehenderit, qui tenetur commodi vero itaque. Minus.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imageContainer">
                                <img src="/images/notcoin.jpg" alt="project image">
                            </div>
                            <div class="cardData">
                                <div class="title">
                                    <h1>This is a new project</h1>
                                </div>
                                <div class="discription">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam laboriosam sed
                                        magni ut reprehenderit, qui tenetur commodi vero itaque. Minus.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imageContainer">
                                <img src="/images/notcoin.jpg" alt="project image">
                            </div>
                            <div class="cardData">
                                <div class="title">
                                    <h1>This is a new project</h1>
                                </div>
                                <div class="discription">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam laboriosam sed
                                        magni ut reprehenderit, qui tenetur commodi vero itaque. Minus.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imageContainer">
                                <img src="/images/notcoin.jpg" alt="project image">
                            </div>
                            <div class="cardData">
                                <div class="title">
                                    <h1>This is a new project</h1>
                                </div>
                                <div class="discription">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam laboriosam sed
                                        magni ut reprehenderit, qui tenetur commodi vero itaque. Minus.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imageContainer">
                                <img src="/images/notcoin.jpg" alt="project image">
                            </div>
                            <div class="cardData">
                                <div class="title">
                                    <h1>This is a new project</h1>
                                </div>
                                <div class="discription">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam laboriosam sed
                                        magni ut reprehenderit, qui tenetur commodi vero itaque. Minus.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imageContainer">
                                <img src="/images/notcoin.jpg" alt="project image">
                            </div>
                            <div class="cardData">
                                <div class="title">
                                    <h1>This is a new project</h1>
                                </div>
                                <div class="discription">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam laboriosam sed
                                        magni ut reprehenderit, qui tenetur commodi vero itaque. Minus.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imageContainer">
                                <img src="/images/notcoin.jpg" alt="project image">
                            </div>
                            <div class="cardData">
                                <div class="title">
                                    <h1>This is a new project</h1>
                                </div>
                                <div class="discription">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam laboriosam sed
                                        magni ut reprehenderit, qui tenetur commodi vero itaque. Minus.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="imageContainer">
                                <img src="/images/notcoin.jpg" alt="project image">
                            </div>
                            <div class="cardData">
                                <div class="title">
                                    <h1>This is a new project</h1>
                                </div>
                                <div class="discription">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam laboriosam sed
                                        magni ut reprehenderit, qui tenetur commodi vero itaque. Minus.</p>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

                <div id="url">open Profile</div>



            </div>
            <%- include('footer') %>
    </div>
    <script>
        const main = document.getElementById('main')
        document.querySelector('#url').addEventListener('click', () => {
            document.getElementById('popup').classList.add('showpopup')
            setTimeout(()=>{
                document.getElementById('popup').classList.remove('showpopup')

            },1000)


        })

    </script>
</body>

</html>