<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A24 | Home </title>
    <link rel="stylesheet" href="style.css">
</head>
<body style="background-color: black; color: white;">
    <%- include('nav') %>
    <h1>Home</h1>

    
</body>
</html>