<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
    <link rel="stylesheet" href="/stylesheetes/login.css">
</head>
<body>
    <div id="main">
        <div id="formContainer">
            <div id="formText">
                Login Account
            </div>
            
            <form action="/register" method="post" id="form" >
                <input type="email" placeholder="Enter Your Email" name="email" id="email" class="input" required>
                <input type="password" placeholder="Enter Your Password" name="password" id="password" class="input" required>
                <input type="submit" value="Login Account" id="btn">
                <div id="create">
                    <a href="/create">don't have an account? Create Account</a>
                </div>
            </form>
        </div>
    </div>

</body>
</html>