<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="shortcut icon" href="/images/logo.jpg" type="image/x-icon">


<body>
    <nav id="nav">
        <div id="leftNav">
            <a href="/">

                <img src="/images/logo.jpg" alt="A24">
            </a>

        </div>

        <div id="rightNav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/airdrops">Airdrops</a></li>
                <li><a href="/post">Post </a></li>
                <li><a href="/chat">Chat </a></li>
                <li><a href="/">More Soon</a></li>
                <% if (user){%>
                    <a href="/profile" class="profile"> <img src="/images/a24.png" alt="profile"></a>
                    <% } else{%>
                        <div id="loginBtn">
                            <a href="/create"> Login</a>
                        </div>

                        <%}%>
            </ul>
        </div>
        <div id="menu">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
    <script src="/js/nav.js"></script>
</body>

</html>