<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheetes/nav.css">


<body>
    <nav id="nav">
        <div id="leftNav">
            <a href="/">

                <img src="/images/logo.jpg" alt="A24">
            </a>

        </div>

        <div id="rightNav">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Airdrops</a></li>
                <li><a href="/post">Post </a></li>
                <li><a href="#">Chat </a></li>
                <li><a href="#">More Soon</a></li>
                <div id="loginBtn">
                    <a href="/create"> Login</a>
                </div>
            </ul>
        </div>
        <i class="ri-menu-line"></i>
    </nav>
    <script src="/javascripts/nav.js"></script>
</body>

</html>