<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/profile.css">
</head>

<body>
    <div id="main">
        <%- include('nav') %>
            <div id="profile">
                <div id="profileBackground">
                    <img src="/images/notcoin.jpg"
                        alt="profileBackground">
                </div>
                <div id="profileData">
                    <div id="profileImage">
                        <img src="/images/a24.png" alt="profile">

                    </div>
                    <div id="name">
                        <%= user.name %>
                    </div>
                    <div id="userName">
                        <%= user.username %>
                    </div>
                    <div id="editProfile">
                        <button> <a href="/editprofile">Edit Profile</a></button>
                    </div>
                </div>

            </div>

            <div class="tab-container">
                <div class="tabs">
                    <button class="tab active" data-tab="tab1">Posts</button>
                    <button class="tab" data-tab="tab2">Likes</button>
                    <button class="tab" data-tab="tab3">Commned</button>
                    <button class="tab" data-tab="tab4">Settings</button>
                    <!-- Add more tabs as needed -->
                </div>
                <div class="tab-content">
                    <div class="tab-panel active" id="tab1">
                        <h1>
                            Coming soon
                        </h1>

                    </div>
                    <div class="tab-panel" id="tab2">
                        <h1>
                            Coming soon
                        </h1>
                    </div>
                    <div class="tab-panel" id="tab3">
                        <h1>
                            Coming soon
                        </h1>
                    </div>
                    <div class="tab-panel" id="tab4">
                        <h1>
                            Coming soon
                        </h1>
                    </div>
                    <div class="tab-panel" id="tab5">
                        <h1>
                            Coming soon
                        </h1>
                    </div>
                    <!-- Add more tab panels as needed -->
                </div>
            </div>

            <img src="/image/<%= user.email %>" alt="" width="150">


    </div>

    <script src="/js/profile.js"></script>
</body>

</html>