* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

nav {
    background-color: gray;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    overflow: hidden;
}

#leftNav {
    width: 50px;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;

}

#leftNav a img {
    height: 100%;
    object-fit: contain;
    object-position: center;

}
#rightNav{
    display: block;
    
}
#rightNav ul {
    display: flex;
    align-items: center;
    gap: 5px;
}

#rightNav ul li {
    list-style: none;
    /* background-color: red; */

}

#rightNav ul li a {

    text-decoration: none;
    font-size: 30px;
    color: black;
    padding: 100% 10px;
}

#rightNav ul li a:hover {
    background-color: rgba(0, 128, 0, 0.397);
    backdrop-filter: blur(5px);
}
#loginBtn{
    margin: 5px;
}
#loginBtn a{
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    background-color: lightblue;
}

#menu{
    cursor: pointer;
    display: none;
    color: black;
    transition: all ease-in 2s;
}
.line{
    width: 30px;
    height: 4px;
    background-color: black;
    margin-bottom: 6px;
}
.profile{
    text-decoration: none;
}
.profile img{
    width: 50px;
    height: 100%;
    border-radius: 50%;
}

@media screen and (max-width: 600px) {
    #menu{
        display: block;
        transition: all ease-in 2s;
    }
    #rightNav{
        position: absolute;
        top: 50px;
        right: 0;
        width: 00px;
        height: calc(100% - 50px);
        background-color: rgba(255, 255, 255, 0.521);
        backdrop-filter: blur(5px);
        transition: all 1s ease-in-out;
        overflow: hidden;
    }
    #rightNav ul {
        flex-direction: column;
    }
    #rightNav ul li{
        padding: 5px;
    }
    #rightNav ul li a {
        font-size: 30px;
        color: black;
        padding: 0px 0px;
    }
    #loginBtn{
        margin-top: 10px;
    }
   
}